<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>哦哇哈哈哈ore no website desu</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <div class="container theme-showcase" role="main">
        <div class="header clearfix">
            <h1 class="text-muted">留言站
                <small>&lt;hackable&gt;</small>
            </h1>
        </div>
        <div class="jumbotron">
            <h2>Harry 的碎碎念</h2>
            <p class="lead"><br/>
                终于，闲置了一个月后这个服务器终于开始了他的本职工作-。-这个网站暂时还只有留言系统，只会显示最近的十条信息。当然以前的信息还是会储存在数据库。<br/><br/>
                嘛源码托管在 <a href='https://github.com/NiftyMule/blogSystem'>Github</a> 上了。<br/><br/>
                欢迎各种hack。暂时只提供文字Post，当然可以用手打html加入图片。没有防火墙（太懒了）所以没有隔离任何攻击。也可以拿来试试xss，注入攻击之类的。<br/><br/>
                因为是在用Root在运行服务器所以如果hack进了系统请不要搞破坏呀，在根目录留个名就够了-。-<br/><br/>
                另外不要拿来做肉鸡，也不要拿来进行DDoS攻击，服务器可能会被网易云ban掉<br/><br/>
                最后就是希望大家玩得开心啦嘻嘻
            </p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">