<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>哦哇哈哈哈ore no website desu</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <div class="container theme-showcase" role="main">
        <div class="header clearfix">
            <h1 class="text-muted">留言站 <small>&lt;hackable&gt;</small></h1>
        </div>
        <div class="jumbotron">
            <h2>Harry 的碎碎念</h2>
            <p class="lead">
                哇哈哈哈这里是我的碎碎念哈哈哈哈
            </p>
        </div>
        <div class="row marketing">
            <div class="col-lg-6">
                <br/>
                <h4>Harry</h4>
                <p>嗨呀欢迎大家呀</p>
                <br/>
                <h4>Harry</h4>
                <p>testtesttest</p>
        
                <h4>Subheading</h4>
                <p>test3</p>
            </div>
        </div>
        <br/>
        <form method="post">
            <div class="form-group">
                <label for="exampleInputName">Post</label>
                <input type="text" name='username' class="form-control" id="exampleInputName" placeholder="Name">
            </div>
            <textarea class="form-control" name='content' rows="5" placeholder="Content"></textarea>
            <right><input class="btn btn-primary btn-lg" type = "submit" value = "Submit"></right>
        </form>
    </div>
    <br/>
    <br/>
    <br/>
</body>
</html>

